In [1]:
import databricks.koalas as ks
import os

# Para remover o warning
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

### Leitura dos dados no Koalas - [Json]

In [2]:
path_json_data_bank = os.path.abspath("landing-zone/bank/*.json")
path_json_data_user = os.path.abspath("landing-zone/user/*.json")

In [3]:
%%time
kdf_bank = ks.read_spark_io(path_json_data_bank, 
                      format="json")
kdf_bank.head()

CPU times: user 37.7 ms, sys: 22.1 ms, total: 59.8 ms
Wall time: 11.7 s

  account_number                                     bank_name  dt_current_timestamp                    iban    id routing_number    swift_bic                                   uid  user_id
0     7320834088              ABN AMRO HOARE GOVETT SECURITIES         1621352186397  GB50RCLB43517671582596  4796      251572316  BOFAGB4TIPA  e90b2938-deb5-430f-ad77-ac441650a0a1     9975
1     7467060749               ABN AMRO MEZZANINE (UK) LIMITED         1621352186397  GB44TYKV55102270018253   861      300679144  ANTSGB2LCHA  f6fa9d04-f772-4b0a-b0b6-c2bdc156aad6     9926
2     5010092952              ABN AMRO HOARE GOVETT SECURITIES         1621352186397  GB87IIXG13461744634372  1807      706669295  UBKLGB2LXXX  454a5b80-65eb-4588-92dc-2dd18ae31a97     5981
3     2038687205   UBS CLEARING AND EXECUTION SERVICES LIMITED         1621352186397  GB00SNQA49366527978036  1953      679077561     AANLGB2L  7c603e59-125f-42b5-bd18-dc1feb91e685     6756
4     1587066166  ABN AMRO HOARE GOVETT CORPORATE FINANCE LTD.         1621352186397  GB42TNIE33408504387045  9434      098879573  BCYPGB2LCSB  56e873c5-d510-47eb-af3d-77462b931eb3     9175

In [4]:
%%time
kdf_user = ks.read_spark_io(path_json_data_user, 
                      format="json")
kdf_user.head()

CPU times: user 33.2 ms, sys: 11.9 ms, total: 45.1 ms
Wall time: 1.4 s

                                                                                                                              address                                                                  avatar             credit_card date_of_birth  dt_current_timestamp                    email                             employment first_name       gender    id last_name    password                phone_number social_insurance_number                                             subscription                                   uid  user_id       username
0            (Casieport, (-21.9513001404, -119.0706314586), United States, Tennessee, 94174 Necole Villages, Bess Shoals, 94746-3407)              https://robohash.org/ullametiure.png?size=300x300&set=set1        (4135594648602,)    1986-11-08         1619454547663   daron.bailey@email.com  (Confidence, Global Farming Director)      Daron   Non-binary   633    Bailey  OWdxrKXf8t            +43 396-218-0539               477348544  (Money transfer, Business, Pending, Payment in advance)  6353cec5-67b5-4ef6-98c1-fe2ac6fd9b39     1703   daron.bailey
1  (East Scottieshire, (37.318270933, 177.1561190321), United States, Connecticut, 3534 Steuber Walk, Cruickshank Summit, 62313-1689)     https://robohash.org/voluptassaepedolorem.png?size=300x300&set=set1  (5318-8912-1789-0449,)    1999-04-18         1619454547663  jonah.barrows@email.com  (Networking skills, Farming Director)      Jonah     Bigender  3098   Barrows  SFWcEO96ql         +996 1-404-010-5986               195202718                     (Paypal, Platinum, Pending, Monthly)  0acd419c-38cd-4288-92f9-4b0bea66f977     3650  jonah.barrows
2         (Zboncakburgh, (-28.5286547708, 107.8798589834), United States, Massachusetts, 23529 Gleichner Shores, Effertz Ramp, 96238)  https://robohash.org/pariaturexplicabocumque.png?size=300x300&set=set1        (4797181467439,)    1986-11-29         1619454547663   carla.hansen@email.com  (Fast learner, Government Specialist)      Carla      Agender  6775    Hansen  n7BSCGcJo3   +46 (993) 071-3591 x78808               387921133                     (Alipay, Essential, Blocked, Annual)  cc2fe946-74a7-4124-8059-15a40a0d8456     8809   carla.hansen
3            (Orvilleton, (-2.8510364418, -33.5570011509), United States, Massachusetts, 3548 Kling Walks, Cartwright Viaduct, 09423)     https://robohash.org/nonerrorperspiciatis.png?size=300x300&set=set1  (5144-7746-3505-4790,)    1985-07-06         1619454547663   tomas.ledner@email.com      (Teamwork, Regional IT Executive)      Tomas  Genderfluid  3169    Ledner  dTgI3l527Q  +670 (895) 368-6766 x62419               133909176                   (WeChat Pay, Bronze, Blocked, Monthly)  5ab9e8fe-dfb7-4bd6-b051-8a9595ae68dd     4606   tomas.ledner
4                      (Kossshire, (61.6600622624, 53.0945866926), United States, Illinois, 206 Royce Mill, Keebler Stravenue, 24720)       https://robohash.org/doloremdoloreiusto.png?size=300x300&set=set1  (4678-2840-8490-6919,)    1996-01-18         1619454547663    alyse.ortiz@email.com    (Confidence, Principal Coordinator)      Alyse     Bigender  2625     Ortiz  rVtSd4C36B       +1-441 1-386-088-9407               671832939                (Credit card, Platinum, Pending, Monthly)  799eebc4-6172-4db3-af27-77c9d6f8db05        1    alyse.ortiz

### Escrita dos dados no Koalas - [Parquet]

In [5]:
%%time
kdf_bank.to_parquet(os.path.abspath("processing-zone/bank/"), mode="overwrite")
kdf_user.to_parquet(os.path.abspath("processing-zone/user/"), mode="overwrite")

CPU times: user 2.78 ms, sys: 1.86 ms, total: 4.64 ms
Wall time: 3.47 s

In [6]:
path_parquet_data_bank = os.path.abspath("processing-zone/bank/*.parquet")
path_parquet_data_user = os.path.abspath("processing-zone/user/*.parquet")

### Leitura dos dados no Koalas - [Parquet]

In [7]:
%%time
kdf_bank = ks.read_spark_io(path_parquet_data_bank, 
                      format="parquet")
kdf_bank.head()

CPU times: user 23.6 ms, sys: 11.1 ms, total: 34.7 ms
Wall time: 851 ms

  account_number                                    bank_name  dt_current_timestamp                    iban    id routing_number    swift_bic                                   uid  user_id
0     0267608433           ABN AMRO CORPORATE FINANCE LIMITED         1619454485308  GB78DZFZ38063088452320  1957      295965484  BSABGB2LXXX  8b3f376b-0adf-4f86-bb40-6aa2d8ba708d     5641
1     7052327864             ABN AMRO HOARE GOVETT SECURITIES         1619454485308  GB29ZZRW63422245133877  4911      274059719     AAFMGB21  0bb4c571-a21d-4616-9d8f-0b5ba0bd7868     3006
2     3296123731                ABINGWORTH MANAGEMENT LIMITED         1619454485308  GB27LPUN51436522350891  5275      314786939  BSABGB2LXXX  c3d9ea2c-5e58-4164-b9cf-a84bc4ebc377     9348
3     3455902680  UBS CLEARING AND EXECUTION SERVICES LIMITED         1619454485308  GB84VPOW30351189216558  7312      256999143  AIBKGB2XTSY  c188b6ac-e5da-4c94-b0c2-5451cbe3a28d     4920
4     6799197420     ABN AMRO QUOTED INVESTMENTS (UK) LIMITED         1619454485308  GB73LSLX97621314346559  1428      219280860  BOFAGB22SEC  72a2f0eb-657b-477b-98d3-6e731afe04a4     9612

In [8]:
%%time
kdf_user = ks.read_spark_io(path_parquet_data_user, 
                      format="parquet")
kdf_user.head()

CPU times: user 34.4 ms, sys: 11.7 ms, total: 46.2 ms
Wall time: 808 ms

                                                                                                                                   address                                                                  avatar             credit_card date_of_birth  dt_current_timestamp                     email                                 employment first_name       gender    id last_name    password               phone_number social_insurance_number                                        subscription                                   uid  user_id        username
0                       (Ismaelview, (85.4601189775, -42.5833978382), United States, Arizona, 679 Micah Gardens, August Vista, 75162-6239)        https://robohash.org/aliquidnobiserror.png?size=300x300&set=set1  (6771-8932-7326-9847,)    1995-03-19         1621423978818  leonardo.adams@email.com       (Organisation, Consulting Assistant)   Leonardo     Bigender  3707     Adams  W1nirBgqVT   +850 847.401.4566 x82887               196526628           (Money transfer, Essential, Idle, Annual)  5dcacedc-f75b-4568-872c-6cc2a71705f2     4965  leonardo.adams
1                          (Lake Taisha, (-2.1984324156, 116.8514711846), United States, Virginia, 545 Nichelle Place, Barrows Dam, 69778)    https://robohash.org/delenitiasperioressit.png?size=300x300&set=set1  (4325-2108-3118-7252,)    1956-12-19         1621423978818   jarred.walker@email.com         (Confidence, Administration Agent)     Jarred   Polygender  4941    Walker  IihGFkrxTv     +53 181-453-3227 x5763               493978720  (Money transfer, Student, Idle, Full subscription)  5d8058ad-676b-4b89-b154-1e03bc675ede     8560   jarred.walker
2                     (Cummingschester, (63.8048328901, -66.678693947), United States, Georgia, 5873 Royal Avenue, O'Connell Place, 53885)               https://robohash.org/velitnonid.png?size=300x300&set=set1  (6771-8980-3619-5908,)    1993-07-10         1621423978818      ezra.brown@email.com  (Problem solving, Regional Administrator)       Ezra         Male  3909     Brown  Xx6bYuMyFp  +27 1-673-818-7444 x01270               208208074                (Bitcoins, Free Trial, Idle, Annual)  ac909be8-949d-4b40-bffc-00ee1905cb90     4708      ezra.brown
3              (Port Aprilland, (-27.2462294931, -25.8872029973), United States, New Jersey, 132 Elvis Avenue, Maxwell Stream, 15895-6351)      https://robohash.org/facerenamtemporibus.png?size=300x300&set=set1  (6771-8933-3925-1805,)    1977-04-21         1621423978818    valda.jacobi@email.com  (Problem solving, National Legal Liaison)      Valda  Genderfluid  2531    Jacobi  zInlShuGdy   +356 1-136-227-8892 x457               626072177      (Cheque, Free Trial, Idle, Payment in advance)  e4fa182c-f9c4-4cfc-8185-0ff3ffdd3168     7462    valda.jacobi
4  (West Candelariaborough, (-65.3103387251, 167.3336162105), United States, Idaho, 64084 O'Hara Junction, Margherita Circles, 23059-5740)  https://robohash.org/pariaturmagnilaboriosam.png?size=300x300&set=set1  (4708-0672-7336-6969,)    1959-05-18         1621423978818     russel.batz@email.com         (Organisation, Senior Facilitator)     Russel         Male  2609      Batz  2NaJpfWj8B           +39 800-778-2977               519832836    (Credit card, Gold, Pending, Payment in advance)  d6fb351c-9bea-43d4-aa24-ac79e4369e25     2359     russel.batz

- Verificando Schemas dos DataFrames

In [9]:
kdf_bank.spark.print_schema()

root
 |-- account_number: string (nullable = true)
 |-- bank_name: string (nullable = true)
 |-- dt_current_timestamp: long (nullable = true)
 |-- iban: string (nullable = true)
 |-- id: long (nullable = true)
 |-- routing_number: string (nullable = true)
 |-- swift_bic: string (nullable = true)
 |-- uid: string (nullable = true)
 |-- user_id: long (nullable = true)

In [10]:
kdf_user.spark.print_schema()

root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- coordinates: struct (nullable = true)
 |    |    |-- lat: double (nullable = true)
 |    |    |-- lng: double (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- street_address: string (nullable = true)
 |    |-- street_name: string (nullable = true)
 |    |-- zip_code: string (nullable = true)
 |-- avatar: string (nullable = true)
 |-- credit_card: struct (nullable = true)
 |    |-- cc_number: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- dt_current_timestamp: long (nullable = true)
 |-- email: string (nullable = true)
 |-- employment: struct (nullable = true)
 |    |-- key_skill: string (nullable = true)
 |    |-- title: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: long (nullable = true)
 |-- last_name: string (nullable = true)
 |-- password: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- social_insurance_number: string (nullable = true)
 |-- subscription: struct (nullable = true)
 |    |-- payment_method: string (nullable = true)
 |    |-- plan: string (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- term: string (nullable = true)
 |-- uid: string (nullable = true)
 |-- user_id: long (nullable = true)
 |-- username: string (nullable = true)

### Processamento dos dados com [Koalas]

- Processamento e conversão do campo [dt_current_timestamp] de [long] para [datetime]

In [11]:
%%time
kdf_bank = kdf_bank.assign(dt_current_timestamp = ks.to_datetime(kdf_bank.dt_current_timestamp))
kdf_user = kdf_user.assign(dt_current_timestamp = ks.to_datetime(kdf_user.dt_current_timestamp))

CPU times: user 21.5 ms, sys: 8.74 ms, total: 30.3 ms
Wall time: 203 ms

/Users/carlosbarbosa/opt/miniconda3/lib/python3.9/site-packages/pyspark/sql/pandas/functions.py:389: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

- Verificando Correções

In [12]:
kdf_bank.dtypes

account_number              object
bank_name                   object
dt_current_timestamp    datetime64
iban                        object
id                           int64
routing_number              object
swift_bic                   object
uid                         object
user_id                      int64
dtype: object

In [13]:
kdf_user.dtypes

address                        object
avatar                         object
credit_card                    object
date_of_birth                  object
dt_current_timestamp       datetime64
email                          object
employment                     object
first_name                     object
gender                         object
id                              int64
last_name                      object
password                       object
phone_number                   object
social_insurance_number        object
subscription                   object
uid                            object
user_id                         int64
username                       object
dtype: object

In [14]:
kdf_user.head()

                                                                                                                                   address                                                                  avatar             credit_card date_of_birth       dt_current_timestamp                     email                                 employment first_name       gender    id last_name    password               phone_number social_insurance_number                                        subscription                                   uid  user_id        username
0                       (Ismaelview, (85.4601189775, -42.5833978382), United States, Arizona, 679 Micah Gardens, August Vista, 75162-6239)        https://robohash.org/aliquidnobiserror.png?size=300x300&set=set1  (6771-8932-7326-9847,)    1995-03-19 1970-01-01 00:27:01.423978  leonardo.adams@email.com       (Organisation, Consulting Assistant)   Leonardo     Bigender  3707     Adams  W1nirBgqVT   +850 847.401.4566 x82887               196526628           (Money transfer, Essential, Idle, Annual)  5dcacedc-f75b-4568-872c-6cc2a71705f2     4965  leonardo.adams
1                          (Lake Taisha, (-2.1984324156, 116.8514711846), United States, Virginia, 545 Nichelle Place, Barrows Dam, 69778)    https://robohash.org/delenitiasperioressit.png?size=300x300&set=set1  (4325-2108-3118-7252,)    1956-12-19 1970-01-01 00:27:01.423978   jarred.walker@email.com         (Confidence, Administration Agent)     Jarred   Polygender  4941    Walker  IihGFkrxTv     +53 181-453-3227 x5763               493978720  (Money transfer, Student, Idle, Full subscription)  5d8058ad-676b-4b89-b154-1e03bc675ede     8560   jarred.walker
2                     (Cummingschester, (63.8048328901, -66.678693947), United States, Georgia, 5873 Royal Avenue, O'Connell Place, 53885)               https://robohash.org/velitnonid.png?size=300x300&set=set1  (6771-8980-3619-5908,)    1993-07-10 1970-01-01 00:27:01.423978      ezra.brown@email.com  (Problem solving, Regional Administrator)       Ezra         Male  3909     Brown  Xx6bYuMyFp  +27 1-673-818-7444 x01270               208208074                (Bitcoins, Free Trial, Idle, Annual)  ac909be8-949d-4b40-bffc-00ee1905cb90     4708      ezra.brown
3              (Port Aprilland, (-27.2462294931, -25.8872029973), United States, New Jersey, 132 Elvis Avenue, Maxwell Stream, 15895-6351)      https://robohash.org/facerenamtemporibus.png?size=300x300&set=set1  (6771-8933-3925-1805,)    1977-04-21 1970-01-01 00:27:01.423978    valda.jacobi@email.com  (Problem solving, National Legal Liaison)      Valda  Genderfluid  2531    Jacobi  zInlShuGdy   +356 1-136-227-8892 x457               626072177      (Cheque, Free Trial, Idle, Payment in advance)  e4fa182c-f9c4-4cfc-8185-0ff3ffdd3168     7462    valda.jacobi
4  (West Candelariaborough, (-65.3103387251, 167.3336162105), United States, Idaho, 64084 O'Hara Junction, Margherita Circles, 23059-5740)  https://robohash.org/pariaturmagnilaboriosam.png?size=300x300&set=set1  (4708-0672-7336-6969,)    1959-05-18 1970-01-01 00:27:01.423978     russel.batz@email.com         (Organisation, Senior Facilitator)     Russel         Male  2609      Batz  2NaJpfWj8B           +39 800-778-2977               519832836    (Credit card, Gold, Pending, Payment in advance)  d6fb351c-9bea-43d4-aa24-ac79e4369e25     2359     russel.batz

- Criando um array de colunas para selecionar no kdf_user

In [15]:
cols = ["user_id","username","first_name", "last_name", "date_of_birth", "gender", "phone_number"]

- Selecionando as colunas do array cols para o DataFrame kdf_user

In [16]:
kdf_user = kdf_user.loc[:,(cols)]
kdf_user.columns

Index(['user_id', 'username', 'first_name', 'last_name', 'date_of_birth',
       'gender', 'phone_number'],
      dtype='object')

- Realiza join através da chave user_id e específica o prefixo a ser colocado no DataFrame da esquerda e na direita do join, tudo que pertencer ao DataFrame da esquerda [kdf_user] terá o prefixo _left, o mesmo serve para o DataFrame da direita [kdf_bank], porém tudo terá o prefixo _right

In [17]:
kdf_user_bank = kdf_user.join(kdf_bank, lsuffix="_left", rsuffix="_right")

- Verfifica se as chaves foram criadas

In [18]:
kdf_user_bank.loc[:,["user_id_left","user_id_right"]].head(1)

   user_id_left  user_id_right
0          4965           5641

In [19]:
kdf_user_bank.head()

   user_id_left        username first_name last_name date_of_birth       gender               phone_number account_number                                    bank_name       dt_current_timestamp                    iban    id routing_number    swift_bic                                   uid  user_id_right
0          4965  leonardo.adams   Leonardo     Adams    1995-03-19     Bigender   +850 847.401.4566 x82887     0267608433           ABN AMRO CORPORATE FINANCE LIMITED 1970-01-01 00:26:59.454485  GB78DZFZ38063088452320  1957      295965484  BSABGB2LXXX  8b3f376b-0adf-4f86-bb40-6aa2d8ba708d           5641
1          8560   jarred.walker     Jarred    Walker    1956-12-19   Polygender     +53 181-453-3227 x5763     7052327864             ABN AMRO HOARE GOVETT SECURITIES 1970-01-01 00:26:59.454485  GB29ZZRW63422245133877  4911      274059719     AAFMGB21  0bb4c571-a21d-4616-9d8f-0b5ba0bd7868           3006
2          4708      ezra.brown       Ezra     Brown    1993-07-10         Male  +27 1-673-818-7444 x01270     3296123731                ABINGWORTH MANAGEMENT LIMITED 1970-01-01 00:26:59.454485  GB27LPUN51436522350891  5275      314786939  BSABGB2LXXX  c3d9ea2c-5e58-4164-b9cf-a84bc4ebc377           9348
3          7462    valda.jacobi      Valda    Jacobi    1977-04-21  Genderfluid   +356 1-136-227-8892 x457     3455902680  UBS CLEARING AND EXECUTION SERVICES LIMITED 1970-01-01 00:26:59.454485  GB84VPOW30351189216558  7312      256999143  AIBKGB2XTSY  c188b6ac-e5da-4c94-b0c2-5451cbe3a28d           4920
4          2359     russel.batz     Russel      Batz    1959-05-18         Male           +39 800-778-2977     6799197420     ABN AMRO QUOTED INVESTMENTS (UK) LIMITED 1970-01-01 00:26:59.454485  GB73LSLX97621314346559  1428      219280860  BOFAGB22SEC  72a2f0eb-657b-477b-98d3-6e731afe04a4           9612

### Utilizando [SQL] no [Koalas]

In [20]:
kdf_user.columns

Index(['user_id', 'username', 'first_name', 'last_name', 'date_of_birth',
       'gender', 'phone_number'],
      dtype='object')

In [21]:
ks.sql("""
        select
            user_id,
            concat(kub.first_name,' ', kub.last_name) as full_name, 
            kub.date_of_birth,
            floor(datediff(now(),date_of_birth)/365.25) as age,
            CASE 
                WHEN floor(datediff(now(),date_of_birth)/365.25) <= 21 THEN 'young' 
                WHEN floor(datediff(now(),date_of_birth)/365.25) <= 51 THEN 'adult'
                ELSE 'elder' end as age_category
        from 
            {kdf_user} as kub
        """).head()

   user_id       full_name date_of_birth age age_category
0     4965  Leonardo Adams    1995-03-19  26        adult
1     8560   Jarred Walker    1956-12-19  64        elder
2     4708      Ezra Brown    1993-07-10  28        adult
3     7462    Valda Jacobi    1977-04-21  44        adult
4     2359     Russel Batz    1959-05-18  62        elder

In [22]:
bound1 = ["Leonardo", "Ezra", "Russel"]

- Recebendo uma lista de valores como parametro no ks.sql

In [23]:
bound1

['Leonardo', 'Ezra', 'Russel']

In [24]:
ks.sql("""select * from {kdf_user} as kub where kub.first_name in {bound1}""")

   user_id        username first_name last_name date_of_birth    gender               phone_number
0     4965  leonardo.adams   Leonardo     Adams    1995-03-19  Bigender   +850 847.401.4566 x82887
1     4708      ezra.brown       Ezra     Brown    1993-07-10      Male  +27 1-673-818-7444 x01270
2     2359     russel.batz     Russel      Batz    1959-05-18      Male           +39 800-778-2977

- Utilizando o parametro método query para realizar sql no DataFrame kdf_user

In [25]:
kdf_user.query("user_id == 4965")

   user_id        username first_name last_name date_of_birth    gender              phone_number
0     4965  leonardo.adams   Leonardo     Adams    1995-03-19  Bigender  +850 847.401.4566 x82887

- Utilizando UDF para realização de filtros no DataFrame [kdf_user]

In [26]:
def query_func(kdf):
    user = [4965, 4708, 2359]
    return kdf.query("user_id in (@user)")

In [27]:
kdf_user.koalas.apply_batch(query_func)

     user_id         username  first_name last_name date_of_birth       gender               phone_number
0       4965   leonardo.adams    Leonardo     Adams    1995-03-19     Bigender   +850 847.401.4566 x82887
2       4708       ezra.brown        Ezra     Brown    1993-07-10         Male  +27 1-673-818-7444 x01270
4       2359      russel.batz      Russel      Batz    1959-05-18         Male           +39 800-778-2977
137     2359  earnestine.howe  Earnestine      Howe    1985-10-23  Genderfluid          +974 307.845.4870